<div class="col-md-3 mb-3 mt-1">
  <div class="card">
    <div class="card-body p-2">
      <ul class="list-group list-group-flush ">
        <li class="list-group-item">
          <div class="h4 d-flex justify-content-center">
            {{ author.get_full_name }}
          </div>
        </li>
        <li class="list-group-item">
          <div class="h5 text-muted d-flex justify-content-center mb-1">
            {% if single_post %}
              <a href="{% url 'posts:profile' author.username %}">@{{ author.username }}</a>
            {% else %}
              {{ author.username }}
            {% endif %}
          </div>
        </li>
        {% if user.is_authenticated and user != author %}
          {% if not single_post %}
            <li class="list-group-item d-flex justify-content-center">
              {% if follow %}
                <a class="btn btn-lg btn-light" 
                  href="{% url 'posts:profile_unfollow' author.username %}" role="button"> 
                  Отписаться 
                </a> 
              {% else %}
                <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' author.username %}" role="button">
                  Подписаться 
                </a>
              {% endif %}
            </li> 
          {% endif %}
        {% endif %}
      </ul>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="h6 text-muted">
          <p>Подписчиков: {{ author.following.count }}</p>
          <p>Подписан: {{ author.follower.count }}</p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="h6 text-muted">
          Записей: {{ author.posts_author.count }}
        </div>
      </li>
    </ul>
  </div>
</div>